.idea/

app-dev/*
app-dev/.git*
!app-dev/.gt
app-prod/*
!app-prod/.gt
share/*
!share/.gt


mysql-dump/*.tar*
mysql-dump/*.zip
mysql-dump/*.sql
!mysql-dump/.gt

*.sql*
*.tar*
*.zip

mysql.env
my.env
theme
test

root-dev/.drush/
root-dev/.bash*
root-prod/.drush/
root-prod/.bash*

root-dev/.vim*
root-prod/.vim*

